{% extends "core/base.html" %}
{% block title %}Flowchart Form{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2 class="mb-3">Flowchart</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>
    <div class="mb-3">
      {{ form.content.label_tag }}
      {{ form.content }}
    </div>
    <button class="btn btn-success" type="submit">Save</button>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
{% endblock %}